.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100vw;
  margin: 0 auto;
  padding: 2rem 9%;
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.sticky {
  border-bottom: var(--border-bottom);
}

.nav__logo {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
}

.navlinks {
  display: flex;
}

.navlinks a {
  cursor: pointer;
  margin: 0 3.5rem;
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 600;
}

.nav__links a:hover {
  color: var(--main-color);
}

.nav__links .nav__active {
  color: var(--main-color) !important;
}

.desktopMenuItem {
  color: var(--text-color);
  margin-left: 4rem;
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
}

.desktopMenuItem:hover,
.mobileMenuItem:hover {
  color: var(--main-color);
}

.mobile__nav-links {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: var(--secondary-bg-color);
}

.mobile__nav-links .Nav__links-mobile {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.mobile__nav-links .mobileMenuItem {
  color: var(--text-color);
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  cursor: pointer;
  font-size: 2rem;
}

.nav-mobile-icon {
  margin-right: 1rem;
}

.nav__links .active,
.mobile__nav-links .active {
  color: var(--main-color);
}

.mobile__menu-icon {
  display: none;
  object-fit: cover;
  font-weight: 800;
  width: 3rem;
  height: 3rem;
  border-radius: 0.3rem;
  background-color: var(--secondary-bg-color);
  padding: 0.7rem 0.6rem;
}

.mobile__nav-links {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobile__nav-links,
  .mobile__menu-icon {
    display: flex;
  }
  .nav__links,
  .nav__logo {
    display: none;
  }

  .mobile__nav-links {
    position: absolute;
    inset-block: 0;
    top: 5rem;

    width: 100%;
    padding: 60px 30px;
    transition: all 0.9s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 1100;
    background-color: var(--primary-bg-color);
    border-bottom: 1px solid var(--secondary-bg-color);
  }
}

@media only screen and (max-width: 8px) {
  .toogle__menu {
    cursor: pointer;
    transition: 0.5s ease;
  }
  .toggle__menu-icon {
    display: block;
    font-size: 3rem;
  }

  .navlinks-mobile {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--primary-bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
  }
}
