@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  background-color: transparent;
}

:root {
  --primary-bg-color: rgb(31, 36, 46);
  --secondary-bg-color: rgb(51, 58, 71);
  --main-color: rgb(83, 232, 139);
  --title-color: rgb(102, 102, 102);
  --text-color: rgb(207, 206, 206);
  --body-color: rgb(255, 255, 255);
  --container-color: rgb(237, 237, 237);
  --border-color: rgb(222, 222, 222);
  --text-white: hsl(0, 0%, 100%);
  --text-hover-color: rgb(99, 94, 94);
  --linier-gradient: linear-gradient(
    180deg,
    rgba(83, 232, 139, 1) 24%,
    rgba(255, 255, 255, 0) 100%
  );

  --primary-font: "Poppins", sans-serif;
}

html {
  font-family: var(--primary-font);
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

ul li {
  list-style: none;
}

section {
  min-height: calc(100vh - 5rem);
  padding: 10rem 9% 2rem;
  margin: 0 auto;
  width: 100vw;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  color: var(--text-color);
  border: 1px solid var(--main-color);
  padding: 15px 70px 15px 35px;
  border-radius: 35px;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  margin-top: 10px;
}

button:hover {
  color: var(--text-hover-color);
}

button:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transform: translateX(100%);
  z-index: -1;
  transition: all 0.3s ease-out;
}

button:hover::before {
  transform: translateX(0);
}

.button__icon {
  background-color: var(--main-color);
  position: absolute;
  inset-block: -2px;
  right: 0;
  width: 55px;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
