.contact__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .contact__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
