.header {
  position: sticky;
  top: 0;
  width: 100vw;
  padding: 2.8rem;
  z-index: 100;
  background-color: var(--primary-bg-color);
}

.sticky {
  border-bottom: var(--border-bottom);
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav__menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%;
  height: 100vh;
  display: flex;
  background-color: var(--primary-bg-color);
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

.show-menu {
  left: 0;
}

.nav__logo {
  display: none;
  cursor: pointer;
}

.nav__logo-icon {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.nav__data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.nav__list {
  margin-bottom: 3.5rem;
}

.nav__list li {
  margin-bottom: 2.5rem;
}

.nav__link {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.active,
.nav__link:hover {
  color: var(--main-color);
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 3.6rem;
  font-weight: 800;
  border-radius: 0.3rem;
  background-color: var(--secondary-bg-color);
  padding: 0.2rem 0.6rem;
  z-index: 100;
}

.nav__toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.7rem;
  width: 2.7rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 100;
}

.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  width: 100%;
  height: 0.3rem;
  border-radius: 0.5rem;
  background-color: var(--main-color);
  transition: all 0.5s ease-in-out;
}

.nav__toggle span::before,
.nav__toggle span::after {
  content: "";
  position: absolute;
}

.nav__toggle span::before {
  transform: translateY(-0.8rem);
}

.nav__toggle span::after {
  transform: translateY(0.8rem);
}

.animate-toggle span {
  background: transparent;
}

.animate-toggle span::before {
  transform: rotate(45deg);
  translate: (3rem, -3rem);
}

.animate-toggle span::after {
  transform: rotate(-45deg);
  translate: (3rem, 3rem);
}

.nav-mobile-icon {
  margin: 0 1rem;
  font-size: 1.9rem;
}

@media only screen and (min-width: 768px) {
  .nav__logo {
    display: block;
  }

  .nav__btns {
    display: none;
  }

  .nav-mobile-icon {
    display: none;
  }

  .nav__menu {
    /* position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100vh;
    display: flex;
    background-color: var(--primary-bg-color);
    transition: all 0.5s ease-in-out;
    z-index: 10; */
    all: unset;
    position: fixed;
    width: 100%;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
  }

  .nav__link {
    margin: 0 2rem;
  }
}
