.footer {
  border-top: 1px solid var(--secondary-bg-color);
  background-color: var(---primary-bg-color);
}

.footer__container {
  padding: 3rem 0 4rem;
}

.footer__social-link {
  color: var(--text-color);
  font-size: 1.125rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  display: inline-flex;
}

.footer__social-link:hover {
  background-color: var(--main-color);
}

.footer__social-media {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.box {
  position: relative;
  width: 4rem;
  height: 4rem;
  background: repeating-conic-gradient(
    from 45deg,
    var(--main-color) 0%,
    var(--main-color) 5%,
    transparent 5%,
    transparent 40%,
    var(--main-color) 50%
  );
  animation: rotating 2s linear infinite;
  border-radius: 0.5rem;
  filter: drop-shadow(0 15px 50px #000);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copy {
  display: block;
  margin-top: 1rem;
  color: var(--text-color);
  text-align: center;
  font-size: 1rem;
}
